# Rectify the code in each cell and **explain the error in comments**

### index error

In [1]:
mylist=[14, "hello", 967]
mylist[2]
#It gave an index error because the index was out of range.

967

In [4]:
import pandas 
import numpy 
#It gave a ModuleNotFound error because pandas was not spelt the right way which made the compiler not able to usderstand what module to import.

# syntax error

In [5]:
print("python errors")
#It gave a syntax error because the string "python errors" was not inside a parenthesis after the print function which made the code an invalid syntax.

python errors

# key error

In [6]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#It gave a key error because the key was invalid.

'hello'

# indentation error

In [7]:
i=14
while i<78:
  print(i)
  i+=1
#It gave an indentation error because the code was not indented properly.

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [8]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
#It gave a StopIteration error because the next function was more than the iteration items.

3

# TypeError

In [9]:
'15'+'15'
#It gave a TypeError because you cannot concatinate a string and an integer.

'1515'

# ValueError

In [10]:
str('python')
#It gave a ValueError because it was not an appropriate conversion. You cannot convert a string of letters into an integer.

'python'

# NameError

In [12]:
python = ""
#It gave a NameError because python was not defined and nothing was assigned to it.

# ZeroDivisionError

In [15]:
x=19/2
#It gave a ZeroDivisionError because you cannot divide a number by zero.